<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/assets/css/tufte.css?{{{ cache_suffix }}}"/>
  <link rel="stylesheet" href="/assets/css/latex.css?{{{ cache_suffix }}}"/>
  <link rel="stylesheet" href="/assets/css/custom.css?{{{ cache_suffix }}}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{#block "head"}}
  {{/block}}
</head>

<body>
  <article class="single-article">
  {{#block "body"}}
    {{{ contents }}}
  {{/block}}
  </article>

  <script src="//static.getclicky.com/js" type="text/javascript"></script>
  <script type="text/javascript">try{ clicky.init(100909471); }catch(e){}</script>
  <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/100909471ns.gif" /></p></noscript>

</body>
</html>
